@import "src/assets/styles/abstracts/mixins";

%base-background {
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../../assets/bg.png");
}

.img {
    width: 100px;
}

.auth-header-container {
    text-align: centergir;
    padding-bottom: 40px;

    .auth-header {
        font-size: $font-size-large;
        margin: 0;
        font-weight: $font-weight-bold;
        line-height: 1;
    }
}

.auth-view-container {
    @extend %base-background;
    @include center-align;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

